<div>
  <form action="" class="form-inline m-3">
    <input type="hidden" name="sortField" value="" />
    <input type="hidden" name="sortType" value="" />

    Tìm Kiếm: &nbsp;
    <input type="search" name="keyword" class="form-control" required placeholder="Search" />
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" onclick="clearFilter()" title="Xoá">
      <i class="fas fa-eraser"></i>
    </button>
  </form>

  <div class="alert alert-success text-center">
  </div>
</div>
